@import "tailwindcss";

.NavOptions{
    display: flex;
    gap: 3rem;
}
/* .NavOption{
    width: 100%;
} */
.NavOption{
    position: relative;
}
.NavOption:hover::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0; 
    width: 100%;
    height: 100%;         /* 100% of the anchor */
    border-bottom: 3px solid orange;
    border-radius: 2px;
    padding: 3px;
}

.CardsParent{
    width: 100%;
    height: 20vw;
    /* background-color: aqua; */
    display: flex;
    /* gap: 4rem; */
    justify-content: space-around;
    position: absolute;
    top: 56%;
}
.Cards{
    width: 16vw;
    height: 16vw;
    color: white;
    /* background-color: brown; */
}